/******************************************
*
*   Import Other CSS Files
*
******************************************/
@import url("fonts.css");
@import url("colors.css");


/******************************************
*
*   Site Wide Element Selectors
*
******************************************/

body {
    /* Site Wide Font */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

a {
    /* No underlines under hyperlinks */
    text-decoration: none;
    color: #3E72A7;
    color: rgba(96, 161, 210, 0.8);
}

    a:hover,
    a:focus,
    a:active {
        text-decoration: underline;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}


/******************************************
*
*   Header
*
******************************************/

.header {
    height: 80px;
}

.logo {
    width: 142px; 
    height: 96px; 
    padding: 0 20px;

    border: 1px solid;
    border-top: 0;
    border-color: #4d8dc6;
    border-color: rgba(77, 141, 198, 0.2);
}

.logo-img {
    margin-top: 25px;
}

@media (max-width: 767px) {
    .header {
        height: auto;
    }

    .logo {
        width: auto;
        height: auto;
        padding: 10px;
    }

    .logo-img {
        margin: 5px 0;
    }
}

.nav-list-item-link {
    display: block;
    padding: 30px 20px;
    border-top: 3px transparent solid;
    color: #333;
    font-family: 'UbuntuTitlingBold', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus,
.nav-list-item-link:active {
    text-decoration: none;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus,
.nav-list-item.is-active .nav-list-item-link,
.nav-list-item.is-active .nav-list-item-link:hover {
    border-color: #3E72A7;
    border-color: rgba(77,141,198,0.77);
}

.nav-list-item.is-active .nav-list-item-link {
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}

/******************************************
*
*   Content
*
******************************************/

.content {
    margin-top: 100px;
    padding: 10px 20px;
}

.carousel-control .fa {
    position: absolute;
    top: 50%;
}

.carousel-control.left .fa {
    left: 0;
    color: #0077AF;
}

.carousel-control.right .fa {
    right: 0;
    color: #0077AF;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators .active {
    background-color: #0077AF;
}

.carousel-indicators li {
    border-color: #0077AF;
}

/******************************************
*
*   Footer
*
******************************************/
.footer {
    clear: both;
    padding: 10px 20px;
    margin-top: 30px;
    border: 1px #333 solid;
    border: 1px rgba(0,0,0,0.5) solid;
    color: #fff;
}

.footer-heading {
    padding: 10px 20px;
    margin-top: 10px;
}

.footer-browse-pages-link {
    color: #fff;
}

.footer-browse-pages-list-item,
.footer-browse-pages-list-item .fa-li {
    border-bottom: 1px #999 dotted;
    border-bottom: 1px rgba(60, 60, 60, 0.7) dotted;
    padding: 6px 0;
}

.footer-blog-post {
    margin-top: 15px;
    overflow: hidden;
}

.footer-blog-post-img {
    margin: 5px 5px 0 0;
}

.footer-latest-tweets-list-item,
.footer-latest-tweets-list-item .fa-li {
    padding: 6px 0;
}

.footer-credits {
    margin-top: 10px;
}

.footer-icons-list {
    padding: 0;
}

.footer-icons-list-item {
    list-style: none;
    list-style-type: none;
    float: left;
    font-size: 25pt;
    margin-right: 10px;
}

.footer-icons-list-item-link {
    color: #fff;
}

.footer-icons-list-item-link:hover {
    color: #3E72A7;
}
