.header {
    /* White Background of Header */
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.41) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.41)));
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.41) 100%);
    background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.41) 100%);
    background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.41) 100%);
    background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.41) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#69ffffff',GradientType=1 );
}

.logo, 
.footer-heading {
    /* Blue Background for Logo */
    background: -moz-linear-gradient(45deg,  rgba(77,141,198,0.77) 0%, rgba(36,70,142,0.83) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(77,141,198,0.77)), color-stop(100%,rgba(36,70,142,0.83)));
    background: -webkit-linear-gradient(45deg,  rgba(77,141,198,0.77) 0%,rgba(36,70,142,0.83) 100%);
    background: -o-linear-gradient(45deg,  rgba(77,141,198,0.77) 0%,rgba(36,70,142,0.83) 100%);
    background: -ms-linear-gradient(45deg,  rgba(77,141,198,0.77) 0%,rgba(36,70,142,0.83) 100%);
    background: linear-gradient(45deg,  rgba(77,141,198,0.77) 0%,rgba(36,70,142,0.83) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44d8dc6', endColorstr='#d424468e',GradientType=1 );    
}

.nav-list-item-link:hover,
.nav-list-item-link:focus,
.nav-list-item.is-active .nav-list-item-link,
.nav-list-item.is-active .nav-list-item-link:hover {
    /* Change background of nav item */
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.41) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.41)));
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.41) 100%);
    background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.41) 100%);
    background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.41) 100%);
    background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.41) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#69ffffff',GradientType=1 );
}

.content {
    background: -moz-linear-gradient(45deg,  rgba(255, 255, 255, 0.8) 0%,rgba(255, 255, 255, 0.8) 50%,rgba(255, 255, 255, 0.8) 51%,rgba(255, 255, 255, 0.8) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(255, 255, 255, 0.8) 0%,rgba(255, 255, 255, 0.8) 50%,rgba(255, 255, 255, 0.8) 51%,rgba(255, 255, 255, 0.8) 100%);
    background: -o-linear-gradient(45deg,  rgba(255, 255, 255, 0.8) 0%,rgba(255, 255, 255, 0.8) 50%,rgba(255, 255, 255, 0.8) 51%,rgba(255, 255, 255, 0.8) 100%);
    background: -ms-linear-gradient(45deg,  rgba(255, 255, 255, 0.8) 0%,rgba(255, 255, 255, 0.8) 50%,rgba(255, 255, 255, 0.8) 51%,rgba(255, 255, 255, 0.8) 100%);
    background: linear-gradient(45deg,  rgba(255, 255, 255, 0.8) 0%,rgba(255, 255, 255, 0.8) 50%,rgba255, 255, 255, 0.8) 51%,rgba(255, 255, 255, 0.8) 100%);
}

.footer {
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(28,28,28,0.86) 62%, rgba(19,19,19,0.77) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(62%,rgba(28,28,28,0.86)), color-stop(100%,rgba(19,19,19,0.77)));
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(28,28,28,0.86) 62%,rgba(19,19,19,0.77) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(28,28,28,0.86) 62%,rgba(19,19,19,0.77) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(28,28,28,0.86) 62%,rgba(19,19,19,0.77) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(28,28,28,0.86) 62%,rgba(19,19,19,0.77) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#c4131313',GradientType=1 ); 
}